.cus-search{
    background-color: #e3f2fd;
    padding: 12px;
}
.mlform{
        width: 83% !important;
}
.searchmargin{
margin-right: 12px;
}
.navbar{
    padding: 12px !important;
}
.errormsg{
    color: rgb(255, 0, 0);
}
.custom{
    border: 1px solid #4069ff !important;
    padding: 6px !important;
    width: 66px !important;
    background-color: #4069ff !important;
    color: #fff !important;
    font-weight: bold !important;
    margin-top: 12px !important;
    border-radius: 4px;
}
.custom:hover{
    border: 1px solid #4069ff !important;
    padding: 6px !important;
    width: 66px !important;
    background-color: #4069ff !important;
    color: #fff !important;
    font-weight: bold !important;
    margin-top: 12px !important;
    box-shadow: 0 -4px 14px rgb(0 0 0 / 25%), 0 5px 8px rgb(0 0 0 / 22%) !important;
    border-radius: 4px;
}
marquee {
    width: 100% !important;
    padding: 16px;
    color: #ffa12c;
}
.text-muted {
    font-weight: bold !important;
}
.cuslabel {
    line-height: 40px !important;
}
.dropdown-toggle::after {
    position: relative;
    top: 3px;
    left: 4px;
}
.card-deck {
    margin: 12px;
}
.card-img-top {
    height: 250px;
}
.card {
    height: 420px !important;
    overflow: hidden !important;
}