.cus-search{
    background-color: #e3f2fd;
    padding: 12px;
}
.mlform{
        width: 83% !important;
}
.searchmargin{
margin-right: 12px;
}
.navbar{
    padding: 12px !important;
}
.errormsg{
    color: rgb(255, 0, 0);
}